{% if queue %}
  <h2 class="section">Queue</h2>
  <table class="builds">
    <caption class="visually-hidden">waiting and running builds</caption>
    <tr>
      <th scope="col">pos</th>
      <th scope="col">project</th>
      <th scope="col">#</th>
      <th scope="col">ref</th>
      <th scope="col">waiting</th>
    </tr>
    {% for b in queue %}
      <tr>
        <td>
          <span class="queue-pos">{{ b.queue_position }}</span>
        </td>
        <td>{{ repo_name(b.owner, b.project_name) }}</td>
        <td>
          <span class="status-icon {{ b.status }}" title="{{ b.status }}"><span class="visually-hidden">{{ b.status }}</span></span><a href="/projects/{{ b.owner }}/{{ b.project_name }}/builds/{{ b.number }}">#{{ b.number }}</a>
        </td>
        <td>
          {% if b.pr_number %}
            <a href="{{ pr_url(b, b.pr_number) }}" rel="nofollow">PR #{{ b.pr_number }}</a>
          {% else %}
            <a href="{{ branch_url(b, b.branch) }}" rel="nofollow">{{ b.branch }}</a>
          {% endif %}
        </td>
        <td>
          <time datetime="{{ b.created_at.isoformat() }}" title="{{ b.created_at }}">{{ b.created_at | timeago }}</time>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
