{% extends "base.html" %}
{% block title %}
  builds
{% endblock title %}
{% block bodyattrs %}
  data-events="/events"
{% endblock bodyattrs %}
{% block body %}
  <main id="main">
    <section class="content">
      <div data-poll-url="/builds/queue">{% include "_queue.html" %}</div>
      <h2 class="section">Recent activity</h2>
      <table class="builds" id="activity" data-row-url="/builds/rows">
        <tr>
          <th scope="col">#</th>
          <th scope="col">project</th>
          <th scope="col">branch</th>
          <th scope="col">status</th>
          <th scope="col">commit</th>
          <th scope="col">when</th>
          <th scope="col">took</th>
        </tr>
        {% include "_build_rows.html" %}
      </table>
      {% if has_more %}
        <div class="scroll-sentinel muted" data-more-url="/builds/rows">loading more…</div>
      {% endif %}
    </section>
  </main>
{% endblock body %}
