{% extends "base.html" %}
{% block title %}
  {{ attr }} history
{% endblock title %}
{%
block body %}
<main id="main">
  <section class="content">
    <h2>
      <code>{{ attr }}</code>
      <small>in <a href="/projects/{{ project.owner }}/{{ project.name }}">{{ repo_name(project.owner, project.name) }}</a></small>
    </h2>
    <table class="builds">
      <tr>
        <th scope="col">build</th>
        <th scope="col">branch</th>
        <th scope="col">status</th>
        <th scope="col">commit</th>
        <th scope="col">when</th>
      </tr>
      {% for h in history %}
        <tr>
          <td>
            <a href="/projects/{{ project.owner }}/{{ project.name }}/builds/{{ h.build_number }}">#{{ h.build_number }}</a>
          </td>
          <td>{{ h.branch }}</td>
          <td>
            <span class="status {{ h.status }}">{{ h.status.replace('_', ' ') }}</span>
          </td>
          <td>
            <code>{{ h.commit_sha[:10] }}</code>
          </td>
          <td>
            <time datetime="{{ h.build_created_at.isoformat() }}"
                  title="{{ h.build_created_at }}">{{ h.build_created_at | timeago }}</time>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5" class="empty-state">no history</td>
        </tr>
      {% endfor %}
    </table>
  </section>
</main>
{% endblock body %}
